<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Al_Rukn_Sign</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Al_Rukn_Sign.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid" style="width:100vw">
                <a class="navbar-brand" >@* navbar *@
                    <img src="~/images/navbar-logo.png" width="50" height="50" alt="Al~Rukn~Sign" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon mr-2"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto" >
                        <li class="nav-item">
                            <a class="nav-link active " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                        <li class="nav-item dropdown text-dark ">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu  mr-2 bg-primary" aria-labelledby="navbarDropdown" id="dropdown">
                                <li><a class="dropdown-item text-warning" href="#">Action</a></li>
                                <li><a class="dropdown-item text-warning" href="#">Another action</a></li>
                               @*  <li><hr class="dropdown-divider"></li> *@
                                <li><a class="dropdown-item text-warning" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item text-light">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>

                        <li class="nav-item text-light">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                    @* <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <main role="main" id="main" class=" mt-lg-2 col-sm-12" >
            <a href="https://api.whatsapp.com/send?phone=971507965105&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
                <i class="fa fa-whatsapp my-float"></i>
            </a>
            @RenderBody()
           
        </main> 
       
    </div>

    <footer class="bg-primary text-light text-center fixed-bottom ">
        <div class="container">
            &copy; 2023 - Al~Rukn~Sign @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
