
@{
    ViewData["Title"] = "About";
}
<head>
    <link href="c:\users\sohan\desktop\al-rukn-sign\al-rukn-sign\al-rukn-sign\wwwroot\css\about.css" rel="stylesheet" />
</head>
<h1 class="text-center text-dark" >ABOUT US</h1>

<div id="container" class="container-fluid">
    <div id="top-div">
        <h3 class="text-warning text-center my-1">OUTDOOR SIGNS</h3>
        <p class="text-center">
        We are capable of handling all your outdoor sign needs successfully. Outdoor displays are an efficient way to advertise your products or services during outdoor event as well as high traffic areas that require stable and safe displays. Our outdoor displays are designed to with stand wind, rain and most weather conditions, to keep your message visible. most owners of outdoor digital signage solutions see revenue growth immediately upon installation of the sign. With our solutions, you can target the people who are most likely to buy From you. If you are looking to install outdoor signs, you can be assured that the tasks will be undertaken promptly. We specialize in Outdoor Signs of all makes and sizes, such as billboard signs, sale signs, customer signs, window signs, traffic signs and sidewalk signs.
            <br /><br />
            <h3 class="text-warning text-center my-1">INDOOR SIGNS</h3>
        Signtech offers a wide variety of Indoor digital signs. Indoor display signs are an attractive and eye catching way to bait customers and boost sales. Bright colors and motion content of custom information or Ticker content Feed will create inter-est and return results. Our indoor signs and display board are affordable, easy to use move, and still have ability to create attention For your business. Indoor signs are capable of displaying text and graphics and can be mounted anywhere inside or used as a window display. We also offer a variety of models such as wall mounted displays, counter top displays and other custom store displays.
        </p>
    </div>
    <div id=" bottom-div" >
        
        <h3 class="text-warning text-center my-1">OUR VISION</h3>
        <p class="text-center">
        We aim to be the best at what we do. Our energies are therefore focused on three distinct targets:
        To achieve market leadership with the innovative products and services that set new trends across our industries
        To identify and exploit new opportunities to sustain growth and profitability
        To generate demand by consistently exceeding customer expectations
        </p>
    </div>

</div>
