
@{
    ViewData["Title"] = "Contact";
}

<h1 class="text-center text-dark text-uppercase">Contact Us</h1>
<div class="container-fluid row">
    <div class="col-sm-3">
        <h1 class="text-center text-uppercase my-2">Address</h1>
        <p class="text-center text-capitalize">Sanaya 2 - Street 2 - Industrial Area 2 - Industrial Area - Sharjah - United Arab Emirates</p>
        <h1 class="text-center text-uppercase my-2">Mobile</h1>
        <p class="text-center text-capitalize">+971507965105</p>
    </div>
    <div class="col-sm-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.760530972287!2d55.3998866!3d25.312248500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d22ac232841%3A0x27fbf040d654f2e4!2sRUKN%20SIGN!5e0!3m2!1sen!2sbd!4v1715656835803!5m2!1sen!2sbd" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     
    </div>

</div>

