@{
    ViewData["Title"] = "Home Page";
}

<div class=" justfy-content-center container-fluid mb-1">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/digital sign.jpg" class="d-block w-100" height="250" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <br />
                    <h5 class="text-warning  text-uppercase">Digital Signs</h5>
                    
                </div>
            </div>
            <div class="carousel-item ">
                <img src="~/images/outdoor sign.jpg" class="d-block w-100" height="250" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <br />
                    <h5 class="text-warning   text-uppercase">Outdoor Signs </h5>

                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/indoor sign.png" class="d-block w-100" height="250" alt="..." />
                
                <div class="carousel-caption d-none d-md-block">
                    <br />
                    <h5 class="text-warning   text-uppercase">Indoor Signs </h5>

                </div>
            </div>
            
        </div>
    </div>
</div>



<div class="text-center mb-2 justify-content-center">
    @{
        Html.RenderPartial("About");
    }

</div>

<div class="text-center mb-2 justify-content-center">
    @{
        Html.RenderPartial("Contact");
    }

</div>
